/*Navigation Menu*/
.site-navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: $grey-dark;
	display: none;
	flex-direction: column;
	justify-content: center;
}

.site-navigation ul.open {
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	transition: all 2s ease-in;

	li a {
		display: block;	
		color: #f9f9f9;
		font-size: 1.5rem;
		letter-spacing: .1em;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		padding: 20px;
		
		&:hover {
			color: #fff;
			background-color: $secondary-color;
		}
	}
}

/*Navigation Menu Button*/
.nav-toggle {
	display: block;
	position: absolute;
	right: 30px;
	top: 30px;
    cursor: pointer;
    z-index: 1;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;

    .bar {
    	display: block;
    	width: 35px;
    	height: 4px;
    	background-color: $secondary-color;
    	margin: 6px 0;
    	transition: 0.4s;
    }
}

.nav-toggle.open {
	.bar1 {
		transform: rotate(-45deg) translate(-6px, 6px);
	}

	.bar2 {
		opacity: 0;
	}

	.bar3 {
		transform: rotate(45deg) translate(-8px, -8px);
	}
}