/*Contact Section*/

.contact {
	background-color: $secondary-color;
	color: #fff;

	h1 {
		text-align: center;
	}
}

label {
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

input, textarea {
	width: 100%;
	font-size: 1.8em;
	color: #fff;
	padding: 10px;
	border: none;
	border-bottom: 3px solid darken($secondary-color, 5%);
	background-color: lighten($secondary-color, 2%);
}

textarea {
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	line-height: 1.4em;
}

button {
	width: 100%;
	background-color: $grey-dark;
	border: none;
	color: #fff;
	margin: 20px 5px;
	text-transform: uppercase;
	padding: 0.8em;
	font-family: 'Cardo', sans-serif;
	font-size: 1rem;
	letter-spacing: 0.2em;
}

#ajax-contact {
	display: flex;
	flex-wrap: wrap;

	.form-group {
		@include column(100%);
	}

	.form-group-half {
		@include column(50%);
	}
}

#form-messages {
	margin: 0px 5px;
	padding: 10px;
}

.error {
	margin: 0px 5px;
	padding: 10px 10px;
	background-color: $primary-color;
	border-bottom: 3px solid darken($primary-color, 10%);
}

.success {
	background-color: darken($secondary-color, 10%);
	border-bottom: 3px solid darken($secondary-color, 5%);
}
